button, label, stack-layout {
    horizontal-align: center;    
}

.loginCoverImage {
    background-image: ~/assets/img/bg.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#page-login{
    background-image: ~/assets/img/bg.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

TextField{
    width:300;
    border-bottom: 1px solid #FFFFFF;
    font-size: 14;
}

Button {
    font-size: 14;
    width:300;
    background:#FFFFFF;
    color:#125d79;
}

.btn-main{
    background-color:#125d79;
    color:#FFFFFF;
}

.btn-inverse{
    background-color:#FFFFFF;
    color:#125d79;
}


.title {
    font-size: 30;
    margin: 20;
}

Image {
    margin-top: 0;
    margin-bottom: 20;
    width:300;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 
